<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>but! what's wrong with you</h1>
    <h1><a href="{% url 'tom' %}">go to tom</a></h1>
    <h1><a href="{% url 'app3:candy' %}">go to candy</a></h1>
    <h1><a href="{% url 'app2:wish' %}">go to wish</a></h1>
     
    <h1>Don't be so smart Tom you did the same</h1>
</body>
</html>