<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hey,jerry today I am going to bite you</h1>
    <h1><a href="{% url 'jerry' %}">go to jerry</a></h1>
    <h1><a href="{% url 'app3:candy' %}">go to candy</a></h1>
    <h1><a href="{% url 'app2:wish' %}">go to wish</a></h1>
    <h1>coz.. you always teasing me!!</h1>
</body>
</html>